{% extends 'layouts/base.html' %} {% block head %}
<title>Multiple Respiratory Disease Prediction</title>
{% endblock %} {% block body %}

<div
  class="flex flex-col items-center justify-between flex-grow w-full pb-10 bg-neutral-100"
>
  <div
    class="sticky top-0 z-10 flex items-center justify-center w-full py-5 bg-white shadow-lg shadow-black/10"
  >
    <div
      class="flex items-center justify-between w-full px-[3%] md:px-[5%] max-w-[1440px] min-h-[30px]"
    >
      <a
        href="/"
        class="flex flex-col flex-wrap items-start justify-center text-sm font-bold text-left uppercase text-neutral-700 w-fit"
      >
        <span>Multiple Respiratory</span>
        <span>Disease Prediction</span>
      </a>

      {% block navitems %}{% endblock %}
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center flex-grow w-full px-[3%] md:px-[5%] mt-10"
  >
    {% block page %}{% endblock %}
  </div>
</div>
{% endblock %}
