{% extends 'layouts/layout.html' %} {% block page %}

<div class="w-full max-w-[1024px] grid grid-cols-1 sm:grid-cols-2 gap-6">
  <div
    style="background-image: url({{ url_for('static', filename='images/covid-19.jpg') }})"
    class="!bg-center !bg-cover !bg-no-repeat rounded-md overflow-hidden"
  >
    <a
      href="/covid-19-prediction"
      class="flex items-center justify-center w-full p-5 text-2xl font-medium text-center text-white transition duration-500 rounded-md bg-black/50 h-72 hover:bg-black/70"
    >
      COVID-19 Prediction
    </a>
  </div>

  <div
    style="background-image: url({{ url_for('static', filename='images/copd.jpg') }})"
    class="!bg-center !bg-cover !bg-no-repeat rounded-md overflow-hidden"
  >
    <a
      href="/copd-prediction"
      class="flex items-center justify-center w-full p-5 text-2xl font-medium text-center text-white transition duration-500 rounded-md bg-black/50 h-72 hover:bg-black/70"
    >
      Chronic Obstructive Pulmonary Disease (COPD) Prediction
    </a>
  </div>

  <div
    style="background-image: url({{ url_for('static', filename='images/pneumonia.jpg') }})"
    class="!bg-center !bg-cover !bg-no-repeat rounded-md overflow-hidden"
  >
    <a
      href="/pneumonia-prediction"
      class="flex items-center justify-center w-full p-5 text-2xl font-medium text-center text-white transition duration-500 rounded-md bg-black/50 h-72 hover:bg-black/70"
    >
      Pneumonia Prediction
    </a>
  </div>

  <div
    style="background-image: url({{ url_for('static', filename='images/tuberculosis.jpg') }})"
    class="!bg-center !bg-cover !bg-no-repeat rounded-md overflow-hidden"
  >
    <a
      href="/tuberculosis-prediction"
      class="flex items-center justify-center w-full p-5 text-2xl font-medium text-center text-white transition duration-500 rounded-md bg-black/50 h-72 hover:bg-black/70"
    >
      Tuberculosis Prediction
    </a>
  </div>
</div>

{% endblock %}
