{% extends 'layouts/app.html' %} {% block navitems %}
<div class="flex items-center justify-center gap-3">
  <a
    href="/covid-19-prediction"
    title="COVID-19 outcome prediction"
    class="px-3 py-1.5 text-sm font-medium text-center transition duration-300 rounded hover:bg-black/10 text-neutral-600 hover:text-neutral-900"
  >
    Covid-19
  </a>

  <a
    href="/lung-cancer-prediction"
    title="Chronic Obstructive Pulmonary Disease (COPD) outcome prediction"
    class="px-3 py-1.5 text-sm font-medium text-center transition duration-300 rounded hover:bg-black/10 text-neutral-600 hover:text-neutral-900"
  >
    Lung Cancer
  </a>
</div>
{% endblock %} {% block page %}
<div
  class="flex flex-col justify-start gap-10 items-center pt-20 flex-grow w-full max-w-[1024px] pb-20"
>
  <h1 class="text-2xl font-light text-neutral-700">
    Lung Cancer Outcome Predictor
  </h1>

  <form
    action="/predict-lung-cancer"
    method="POST"
    class="grid w-full grid-cols-1 gap-10"
  >
    <div class="grid w-full grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <div class="grid grid-cols-1 gap-2">
        <label for="Gender" class="text-sm font-medium text-gray-700">
          Gender
        </label>
        <select
          name="Gender"
          id="Gender"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="Age" class="text-sm font-medium text-gray-700">Age</label>
        <input
          name="Age"
          id="Age"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        />
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="Smoking" class="text-sm font-medium text-gray-700">
          Smoking
        </label>
        <select
          name="Smoking"
          id="Smoking"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="YellowFingers" class="text-sm font-medium text-gray-700">
          Yellow Fingers
        </label>
        <select
          name="YellowFingers"
          id="YellowFingers"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="Anxiety" class="text-sm font-medium text-gray-700">
          Anxiety
        </label>
        <select
          name="Anxiety"
          id="Anxiety"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="PeerPressure" class="text-sm font-medium text-gray-700">
          Peer Pressure
        </label>
        <select
          name="PeerPressure"
          id="PeerPressure"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="ChronicDisease" class="text-sm font-medium text-gray-700">
          Has any chronic disease?
        </label>
        <select
          name="ChronicDisease"
          id="ChronicDisease"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="Fatigue" class="text-sm font-medium text-gray-700">
          Fatigue
        </label>
        <select
          name="Fatigue"
          id="Fatigue"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="Allergy" class="text-sm font-medium text-gray-700">
          Has allergies?
        </label>
        <select
          name="Allergy"
          id="Allergy"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="Wheezing" class="text-sm font-medium text-gray-700">
          Wheezing
        </label>
        <select
          name="Wheezing"
          id="Wheezing"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="AlcoholConsuming" class="text-sm font-medium text-gray-700">
          Consumes alcohol?
        </label>
        <select
          name="AlcoholConsuming"
          id="AlcoholConsuming"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="Coughing" class="text-sm font-medium text-gray-700">
          Coughing
        </label>
        <select
          name="Coughing"
          id="Coughing"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="BreathShortage" class="text-sm font-medium text-gray-700">
          Shortage of breath?
        </label>
        <select
          name="BreathShortage"
          id="BreathShortage"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label
          for="SwallowingDifficulty"
          class="text-sm font-medium text-gray-700"
        >
          Difficulty in swallowing?
        </label>
        <select
          name="SwallowingDifficulty"
          id="SwallowingDifficulty"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="ChestPain" class="text-sm font-medium text-gray-700">
          Has chest pain?
        </label>
        <select
          name="ChestPain"
          id="ChestPain"
          class="w-full transition duration-300 text-base border border-transparent rounded-md h-[50px] px-3 !outline-0 bg-white hover:border-neutral-400 focus:border-primary placeholder-neutral-500 appearance-none"
        >
          <option disabled selected>Select an option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>
    </div>

    <div class="text-center">
      <button
        type="submit"
        class="px-6 py-2 text-lg font-medium text-white transition duration-300 rounded bg-primary hover:bg-red-700 focus:outline-none focus:shadow-outline"
      >
        Predict Lung Cancer
      </button>
    </div>
  </form>
</div>
{% endblock %}
